body {
  margin: 0;
  padding: 0;
  font-family: "Roboto mono", monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: scroll;
}

.grid-container {
  max-width: 980px;
  margin: auto;
}

header {
  max-width: 100%;
  min-height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  min-height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  max-width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
header .header-icons-container .icons span {
  color: white;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
header nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #22272d;
  border-top: 35px solid #47cfac;
  text-align: center;
}
footer p {
  color: white;
  margin-top: 30px;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  background-color: #e6e9ed;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (300px)[2];
  grid-template-columns: repeat(2, 300px);
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.contact-main-container img {
  height: 90px;
  margin-right: 10px;
}
.contact-main-container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 0;
}
.contact-main-container .contact a {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}

main .blogpost-img-container {
  padding: 0 50px 40px;
}
main .blogpost-img-container img {
  width: 100%;
}
main .blogpost-main-container {
  padding: 0;
}
main .blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
}
main .blogpost-main-container h1 {
  font-size: 35px;
}