body {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: "Roboto mono", monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

header {
  max-width: 100%;
  min-height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  min-height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  max-width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
header .header-icons-container .icons span {
  color: white;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
header nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

main .blogs-news-container {
  background-color: gray;
  min-height: 400px;
  padding: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 60px 500px;
  grid-template-columns: 450px 500px;
  grid-auto-rows: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
}
main .blogs-news-container .news-picture img {
  width: 100%;
}
main .blogs-news-container .news-description {
  -ms-flex-item-align: start;
      align-self: flex-start;
}