$green: #47cfac;
$fuente1: "Roboto mono", monospace;
body {
    margin: 0;
    padding: 0;
    font-family: $fuente1;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
    top: 0;
    bottom: 0;
    right: 0;
    left:0;
    position: fixed;
    overflow: scroll;
}

.grid-container {
    max-width: 1100px;
    margin: auto;
}