@import "componentes/reset";
@import "componentes/headers";

main {
    min-height: 100%;
    background-image: url("/assets/img/Cover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    .hero-container {
        display: flex;
        flex-direction: column;
        h1 {
            text-align: center;
            color: white;
            font-size: 55px;
            letter-spacing: 6px;
            font-family: $fuente1;
            margin-top: 150px;
            margin-bottom: 150px;
        }
        button {
            font-size: 20px;
            font-weight: 700;
            padding: 10px 15px;
            background-color: $green;
            margin: 0 auto;
            border: 0;
            cursor: pointer;
        }
    }
}

@media (max-width:900px) {
    main {
        .hero-container {
            h1 {
                font-size: 40px;
                margin-bottom: 100px;
            }
            font-size: 30px;
        }
    }
}