body {
  margin: 0;
  padding: 0;
  font-family: "Roboto mono", monospace;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}

.home-body {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  overflow: scroll;
}

.grid-container {
  max-width: 1100px;
  margin: auto;
}

header {
  max-width: 100%;
  min-height: 140px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
header .header-icons-container {
  width: 100%;
  min-height: 50px;
  display: -ms-grid;
  display: grid;
  background-color: #47cfac;
}
header .header-icons-container .icons {
  max-width: 300px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-column-align: end;
      justify-self: end;
  margin-right: 50px;
}
header .header-icons-container .icons span {
  color: white;
}
header nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  height: 90px;
}
header nav .nav-logo-container {
  margin-left: 50px;
}
header nav .nav-logo-container img {
  width: 220px;
  margin-top: 10px;
}
header nav .profile-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 50px;
}
header nav .profile-link a {
  color: black;
  border-bottom: 1px solid black;
}

main {
  min-height: 100%;
  background-image: url("/assets/img/Cover.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .hero-container h1 {
  text-align: center;
  color: white;
  font-size: 55px;
  letter-spacing: 6px;
  font-family: "Roboto mono", monospace;
  margin-top: 150px;
  margin-bottom: 150px;
}
main .hero-container button {
  font-size: 20px;
  font-weight: 700;
  padding: 10px 15px;
  background-color: #47cfac;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
}